<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wikipedia</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.csss" asp-append-version="true" />
    <link rel="stylesheet" href="~/Wikipedia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Wiki.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow custom-navbar">
            <div class="container" id="header">
                <a class="navbar-brand text-light" asp-area="" asp-page="/Index">Wikipedia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/AdminRoleManegment">Gestionare Roluri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/AdaugaArticol">Posteaza</a>
                        </li>

                        <li class="nav-item">
                            <i id="cautare-articol" class="fa-solid fa-magnifying-glass" style="cursor:pointer; color: #ffffff;"></i>
                            <input type="text" id="input-cautare" placeholder="Caută articol..." style="display:none; margin-left:10px;" />
                        </li>


                    </ul>
                    <partial name="_LoginPartial"></partial>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1">
        <div class="container py-4">
            @RenderBody()
        </div>
    </main>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <footer class="footer text-white mt-auto">
        <div class="row">
            <div class="col-md-3">
                <h2>WIKIPEDIA</h2>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: info@example.com</li>
                    <li>Phone: +1233567890</li>
                    <li>Address: 123 Street, City, Country</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 Your Website. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-end">
                <ul class="list-inline footer-links">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Service</a></li>
                    <li class="list-inline-item"><a href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>