/* ====================
   1. Variabile globale
======================= */
:root {
    --primary-color: #422680;
    --secondary-color: #341671;
    --hover-color: #280659;
    --background-color: #660f56;
    --text-color: #ae2d68;
    --rose: #ae2d68;
    --background-color1: #e6f6ff;

    --linie-culoare: black;
    --linie-latime: 4px;
    --linie-inaltime: 14px;
    --linie-spatiu: 6px;
}

/* ====================
   2. Resetări & fonturi
======================= */
html {
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding-top: 70px;
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    /* background-color: var(--background-color1); */
}

/* ====================
   3. Elemente generale
======================= */
a {
    color: var(--rose);
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* ====================
   4. Titluri și text
======================= */
#Titlu {
    color: var(--primary-color);
    text-align: center;
    margin: 10px;
    padding:10px;
}

.custom-navbar {
    background-color: var(--rose);
    color: white;
    border: 10px;
    
}

.articol-container {
    color: var(--primary-color);
}


.articol-strong {
    color: var(--secondary-color);
}




p { 
    padding:0px;

    margin: 0px;

}

br {
    padding-top: 0px;
    margin-top: 0px;
}
h2 {
    margin: 0;
    padding: 0;
}

#inceput-articol {
    margin: 0;
    padding: 0;
}

#editare {
    padding-bottom: 10px;
}

.linie {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.linie-verticala {
    height: var(--linie-inaltime);
    width: var(--linie-latime);
    background-color: var(--text-color);
    margin-right: 10px;
}

.articol-imagine {
    position: relative;
    display: inline-block;
}
.articol-imagine img {
    width: 400px;
    height: 300px;
    border-radius: 4px;
    
}

.articol-container {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.articol-informatii {
    flex:1;
}

.Data_articol {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: 5px 10px;
    font-size: 0.9rem;
    text-align: left;
    color: white;
}


.grid-pagina {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "Articol Articol";
}

    .grid-pagina > section {
        border-radius: 10px;
        padding: 20px;
        color: white;
        position: relative;
        overflow: hidden;
    }

.adauga-articol {
    margin-top: 40px;
    text-align: center;
}

#cautare-articol{
    margin-left: 20px;
    margin-top: 10px;
   
}



