/* ====================
   1. Variabile globale
======================= */
:root {
    --primary-color: #422680;
    --secondary-color: #341671;
    --hover-color: #280659;
    --background-color: #660f56;
    --text-color: #ae2d68;
    --rose: #ae2d68;
    --background-color1: #e6f6ff;

    --linie-culoare: black;
    --linie-latime: 4px;
    --linie-inaltime: 14px;
    --linie-spatiu: 6px;
}

/* ====================
   2. Resetări & fonturi
======================= */
html {
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    /* background-color: var(--background-color1); */
}

/* ====================
   3. Elemente generale
======================= */
a {
    color: var(--rose);
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* ====================
   4. Titluri și text
======================= */
#Titlu {
    color: var(--primary-color);
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    padding:10px;
}

#header {
    background-color: var(--rose);
    
}

.articol-container {
    color: var(--primary-color);
}

.articol-strong {
    color: var(--secondary-color);
}




p { 
    padding:0px;

    margin: 0px;

}

br {
    padding-top: 0px;
    margin-top: 0px;
}
h2 {
    margin: 0;
    padding: 0;
}

#inceput-articol {
    margin: 0;
    padding: 0;
}

#editare {
    padding-bottom: 10px;
}

.linie {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.linie-verticala {
    height: var(--linie-inaltime);
    width: var(--linie-latime);
    background-color: var(--text-color);
    margin-right: 10px;
}

.articol-imagine img {
    width: 400px;
    height: 300px;
    border-radius: 4px;
    
}

.articol-container {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.articol-informatii {
    flex:1;
}

/* ====================
   Motor de cautare
======================= */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
    max-width: 600px;
    margin-inline: auto;
}

.search-input {
    flex: 1;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}

    .search-input:focus {
        border-color: #007bff;
        outline: none;
    }

.search-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .search-button:hover {
        background-color: #0056b3;
    }
