@page
@model Wikipedia.Pages.AdminRoleManegmentModel
@{
    ViewData["Title"] = "GestionareRoluri";
}
<h2>Utilizatori</h2>
<ul>
@foreach(var user in Model.Useri)
{
        <div style="margin-bottom: 20px; padding:10px; border:1px solid #ccc;">
            <strong>@user.Nume</strong> - @user.Email <br />
            ID: @user.Id

        <form method="post" asp-page-handler="AddRol">
            <input type="hidden" name="userId" value="@user.Id" />
            <select name="rol">
               <option value ="admin">Administrator</option>
               <option value="moderator">Moderator</option>
               <option value="userInregistrat">User Inregistrat</option>
            </select>
            <button type="submit">Actualizeaza rol</button>
        </form>
        </div>
}
</ul>
