@page "[articolId int]"
@model Wikipedia.Pages.ArticolModel
@{
    ViewData["Title"] = "Wikipedia";
   <section id="Articol_singur">
    <div class="articol-container">
        <h2>
                <strong>@Model.Articol.Titlu </strong>
        </h2>
        <p> <strong> @Model.Articol.Continut</strong> Adaugat de <strong>@Model.Articol.Autor </strong> din categoria <strong> @Model.Articol.Domenii?.Nume</strong></p>
       
    </div>
    </section>

}

