@page
@model Wikipedia.Pages.Shared.EditeazaArticolModel
@{
    ViewData["Title"] = "Editeaza Articol";
}

<h2>Editeaza stirea</h2>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Articol.Id" />

    <div class="mb-3">
        <input asp-for="@Model.Articol.Titlu" />
    </div>

    <div class="mb-3">
        <input asp-for="@Model.Articol.Continut" />
    </div>

    <div class="mb-3">
        <input asp-for="@Model.Articol.Autor" />
    </div>

    <label class="form-label">Imagine:</label>
    <input type="file" class="form-control" name="ImagineNoua" />
    
    <button type="submit" class="w-20 btn btn-lg btn-primary">Submit</button>
</form>
<div class="form-check">
    <input class="form-check-input" asp-for="Articol.EsteProtejat" type="checkbox" disabled />
    <label class="form-check-label" asp-for="Articol.EsteProtejat">Este protejat</label>
</div>

<input type="hidden" asp-for="Articol.EsteProtejat" /> 
